<div>
    <div class="blog-card">
        <div class="blog-container">
            <div class="blog-header">
                <h1>{{title}}</h1>
            </div>
            <div class="blog-author">
                <p class="blog-name">{{user.username}}</p>
            </div>
            <div class="blog-content">
                <p>{{content}}
            </div>
            <div>
                <p class="blog-date">{{format_date createdAt}}</p>
            </div>
            
        </div>
    </div>
</div>
<div class="login-header">
  <h1>add a comment</h1>
</div>
<div>
  <form class="login-form">
  <div class="form-group">
    <label class="custom-field">username</label>
    <input id="blog-name" type="text" class="form-control" >
  </div>
  <div class="form-group">
    <label class="custom-field">comment</label>
    <input id="blog-comment" for="pass" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary custom-btn comment-btn ">login</button>
</form>
</div>